[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "*"
mkdocs-material = "*"
pygments = "*"
mkdocs-macros-plugin = "*"
requests-html = "*"

[requires]
python_version = "3.7"
