[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "*"
mkdocs-material = ">=5.0.0rc3"
pygments = "*"
mkdocs-macros-plugin = "*"
requests-html = "*"
requests-cache = "*"

[requires]
python_version = "3.7"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
