h2:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, grey, white);
}

.md-typeset h2 {
    color: darkslategrey;
    font-weight: bold;
}

.md-typeset h3 {
    color: darkslategrey;
    font-weight: bolder;
}

.md-typeset h4 {
    color: darkslategrey;
    font-weight: bolder;
}

.md-typeset h5 {
    color: darkslategrey;
    text-transform: none;
}

.md-typeset code {
    background-color: rgb(240, 235, 233);
    color: rgb(211, 0, 0);
    line-height: 150%;
    border-radius: 5px;
    margin: 5px;
}

.md-typeset .footnote-ref {
    display: initial;
}

.inline-image {
    display:inline-block;
    vertical-align: middle;
    font-size: 80%;
}

.link {
    display:inline-block;
    vertical-align: middle;
    font-size: 120%;
    font-weight: bolder;
}
